compile.bat
main.cpp
PlayerColorParam.bin.xfbin
settings.json
xfbin_cpp.exe
test.xfbin
3igy11mot1.xfbin
4jtr01_x.xfbin
8tor01bod1.xfbin
merging/test.japi
merging/JAPI.bt
merging/csel_face.xfbin
PlayerColorParam.json
TO-DO.txt
