[submodule "include/nucc/external/binary-lib"]
	path = include/nucc/external/binary-lib
	url = https://github.com/KojoBailey/binary-cpp-library
[submodule "include/nucc/external/json"]
	path = include/nucc/external/json
	url = https://github.com/nlohmann/json
[submodule "extern/json"]
	path = extern/json
	url = https://github.com/nlohmann/json
[submodule "extern/binary"]
	path = extern/binary
	url = https://github.com/KojoBailey/binary-cpp-library
[submodule "extern/logger"]
	path = extern/logger
	url = https://github.com/KojoBailey/logger
